div.marquee-container.about-page-marquee {
  background-image: url('../images/matt_aubin154-2.jpg');
}

main.about-page {
  .container {
    p, img {
        margin-bottom: 1em;
    }

    hr {
        margin: 2em 0;
    }
  }
}
