// .mobile-nav {
//     position: absolute;
//     top: 0;
//     width: 100vw;
//     display: flex;
//     flex-flow: row nowrap;
//     justify-content: center;
//     background-color: rgba(0, 0, 0, 0);
//     padding-top: 1.5rem;
//     z-index: 20000;
//     @include respond-to(medium-plus) {
//         display: none;
//     }
//     .mobile-nav-trigger {
//         width: 75px;
//         .mobile-nav-bar {
//             background-color: #000000;
//             height: 2px;
//             margin-bottom: 10px;
//         }
//     }
//     &.internal .mobile-nav-bar {
//         background-color: #000000;
//     }
// }
    
nav {
    width: 100%;
    margin-top: -2px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.5),0 -5px 3px -10px #fff;
    z-index: 10000;
    position: absolute;
    top: 0;
    background-color: #ffffff;

    .mobile-nav-trigger {
        width: 50px;
        .mobile-nav-bar {
            background-color: #000000;
            height: 2px;
            margin-bottom: 10px;
        }

        @include respond-to(wide-plus) {
            display: none;
        }
    }

    h1 {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    @include respond-to(wide-plus) {
        position: fixed;
        background-color: #ffffff;
        padding: 1em 0;
    }

    &.home-page-nav {
        .bordered-nav-el {
            border-right: none;
        }

        .no-border-nav-el {
            border-right: none;
        }

        @include respond-to(wide-plus) {
            background-color: rgba(0,0,0,0);
            box-shadow: none;

            h1 {
                margin-top: 0;
                margin-bottom: 0;
            }
            .bordered-nav-el {
                border-right: solid 1px;
                border-color: #000000;
            }
        }
    }

    .name-col {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
    }

    .mobile-nav-exit {
        position: absolute;
        top: 18px;
        right: 18px;
        display: none;
        @include respond-to(wide-plus) {
            display: none;
        }
    }
    .nav-row-container {
        display: flex;
        @include respond-to(wide-plus) {
            display: flex;
            background-color: rgba(0, 0, 0, 0);
        }
    }

    .menu-container {
        display: none;
        @include respond-to(wide-plus) {
            display: flex;
            align-items: center;
        }
    }

    .menu ul {
        display: flex;
        flex-flow: column nowrap;
        font-family: $sans;
        font-weight: 600;
        letter-spacing: 2px; 

        @include respond-to(wide-plus) {
            flex-flow: row nowrap;
        }
        
        li {
            margin-bottom: 1rem;
            text-align: center;

            @include respond-to(wide-plus) {
                padding: 0 1em;
                margin-bottom: 0;
                text-align: unset;
                border-right: solid 1px black;

                &:first-of-type {
                    padding-left: 0;
                }

                &:last-of-type {
                    padding-right: 0;
                    border-right: none;
                }

                &.no-border-nav-el {
                    border-right: none;
                }

                a.active {
                    border-bottom: solid black 5px;
                }
            } // end respond-to
        }
    }
}
