<!DOCTYPE html>
{% include head.html title="About" %}

<body>
    <div class="mobile-nav internal">
        <div class="">
            <div class="mobile-nav-trigger">
                <div class="mobile-nav-bar"></div>
                <div class="mobile-nav-bar"></div>
                <div class="mobile-nav-bar"></div>
            </div>
        </div>
    </div>
  <nav>
    {% include nav.html %}
  </nav>
  <main class="content about-page" role="main">
    {% include filmstrip.html %}
    <div class="container">
      <h1>About</h1>
    </div>

    <div class="container"> <!-- each container will hold each performance event -->
      <div class="row justify-content-center">
          <div class="col-12 col-md-6">
            {{ content }}
          </div>
      </div>
    </div> <!-- end of .container -->

  </main>

  {% include footer.html %}
  </body>
</html>
